
h1, h2, h3, h4{
	font-family: 'sanfrancisco-bold';
	color: #333;
}
body{
	background-color: #fff!important;  
	font-family: 'sanfrancisco'!important;

}
.navbar-default{
	background-color: #9BC1BC;
	border-bottom: none;
}
.panel-default{
	border: 1px solid #eee;
	background-color: #fff;
	padding-bottom: 20px;
}
.panel-body{
	background-color: #fff;
}
.panel-heading, .panel-body, .panel-footer{
	background-color: #fff!important;
}
.panel-default > .regis{
	background-color: #fff;
	border-bottom: 1px solid #eee;
	padding: 0 50px 10px;
}

.form-control{
	background-color: #eee;
	border:none;
	box-shadow: none;
}

a:link {
	text-decoration:none;
}
.nopadding{
	padding: 0px!important;
}

.container{
	max-width:900px;
	min-height: 100%;
	/*padding:6% 0 0!important;*/
}
.container-fluid{
	max-width: 1024px;
}

ul{
	padding:0;
}
li{
	list-style-type: none;
	font-size:14px;

}

.navbar-form {
	width: 100%!important;
	max-width: 250px!important;
}
.input-group{
	width: 100%;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}

.btn-default{
	border:none !important;
	background-color: #fff!important;
	color:#aaa;
}
.col-sm-12{
	margin-bottom:20px;
}
.col-sm-6{
	width: 50%!important;
	}
.panel{
	border:none;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-radius:5px;
}
.pull-left{
	padding:0px !important;

}
.navbar-nav i{
	font-size: 15pt;
}

.navbar-header{
	padding-left: 10px;
}
.navbar-nav li a{
	padding: 8px 5px;
}
.panel-body{
	padding: 0;
}

.footul{
	color: #fafafa !important;
	padding:0px;
	margin:0px;
}
.footul > li{
	display: inline-block;
	padding:5px;
}
.footul > li > a{
	color:#29E7CD!important;
}
#footer{
	margin-top:20px;
	padding:0px;
	bottom: 0px;
	text-align: center;
	height: 50px;
	width: 100%;

}
.sosmed li{
		display: inline-block;
	}