
h1, h2, h3, h4{
	font-family: 'sanfrancisco-bold';
	color: #333;
}
body{
	background-color: #fff!important;  
	font-family: 'hind-regular'!important;

}
p{
	line-height: 18px!important;
}
.jumbotron p{
	font-size: 16px!important;
}
.panel-default{
	border: 1px solid #eee;
	background-color: #fff;
	padding-bottom: 20px;
}
.panel-body{
	background-color: #fff;
}
.panel-heading, .panel-body, .panel-footer{
	background-color: #fff!important;
}
a:link {
	text-decoration:none;
}
.nopadding{
	padding: 0px!important;
}

.container{
	max-width:900px;
	min-height: 100%;
	/*padding:6% 0 0!important;*/
}
.container-fluid{
	max-width: 1024px;
	padding: 0!important;
}

ul{
	padding:0;
}
li{
	list-style-type: none;
}
.panel{
	border:none;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-radius:5px;
}
.navbar-nav li a{
	padding: 8px 5px;
}
.panel-body{
	padding: 0;
}
.tags li, .share li{
	display: inline-block;
}

